# SBM calc

In [3]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('../data/EQ_DELTA.csv')
df

,RiskType,Qualifier,Bucket,Label1,Label2,Amount,AmountCurrency
0,EQ_DELTA,Google LLC,2,1Y,SPOT,997309.680212,GBP
1,EQ_DELTA,Apple Inc.,4,5Y,REPO,45702.789021,GBP
2,EQ_DELTA,Google LLC,8,1Y,SPOT,354808.139503,USD
3,EQ_DELTA,Google LLC,1,1Y,REPO,23032.214885,USD
4,EQ_DELTA,Microsoft Corp.,11,5Y,SPOT,243449.662375,EUR
...,...,...,...,...,...,...,...
1995,EQ_DELTA,Apple Inc.,7,10Y,SPOT,439781.940043,EUR
1996,EQ_DELTA,Apple Inc.,9,5Y,REPO,996907.102832,GBP
1997,EQ_DELTA,Google LLC,6,10Y,REPO,781690.189771,USD
1998,EQ_DELTA,Apple Inc.,6,5Y,REPO,90425.663754,EUR
1999,EQ_DELTA,Apple Inc.,3,1Y,SPOT,716976.467086,GBP